x-common: &common
  restart: unless-stopped

services:
  # Reverse proxy
  traefik:
    <<: *common
    container_name: traefik
    image: traefik:3.6
    dns:
      - 1.1.1.1 # Cloudflare DNS
      - 8.8.8.8 # Google DNS
    networks:
      - default
      - traefik-proxy
    extra_hosts:
      - 'host.docker.internal:172.17.0.1'
    ports:
      - '443:443'
      - '80:80'
    labels:
      - 'traefik.http.routers.traefik.rule=Host(`proxy.lundmark.tech`)'
      - 'traefik.http.routers.traefik.middlewares=authelia@file'
      - 'traefik.http.services.traefik.loadbalancer.server.port=8080'
      - 'com.centurylinklabs.watchtower.enable=false'
    environment:
      CLOUDFLARE_DNS_API_TOKEN: ${CLOUDFLARE_API_TOKEN}
    volumes:
      - /srv/docker/stack-infra/data/traefik/letsencrypt:/letsencrypt
      - /srv/docker/stack-infra/traefik/traefik.yml:/traefik.yml
      - /srv/docker/stack-infra/traefik/dynamic.yml:/dynamic.yml
      - /var/run/docker.sock:/var/run/docker.sock

  traefik-certs-dumper:
    image: ldez/traefik-certs-dumper:v2.9.3
    container_name: traefik-certs-dumper
    labels:
      - traefik.enable=false
    entrypoint: sh -c '
      while ! [ -e /data/acme.json ]
      || ! [ `jq ".[] | .Certificates | length" /data/acme.json | jq -s "add" ` != 0 ]; do
      sleep 1
      ; done
      && traefik-certs-dumper file --version v2 --watch
      --source /data/acme.json --dest /data/certs'
    volumes:
      - /srv/docker/stack-infra/data/traefik/letsencrypt:/data
    network_mode: none

  # Authentication
  authelia:
    <<: *common
    container_name: authelia
    image: authelia/authelia:latest
    labels:
      - 'traefik.http.routers.authelia.rule=Host(`auth.lundmark.tech`)'
      - 'traefik.http.services.authelia.loadbalancer.server.port=9091'
    environment:
      X_AUTHELIA_CONFIG_FILTERS: template
      AUTHELIA_JWT_SECRET_FILE: /secrets/jwt
      AUTHELIA_SESSION_SECRET_FILE: /secrets/session
      AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE: /secrets/encryption
      AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE: /secrets/oidc_hmac
    volumes:
      - /srv/docker/stack-infra/authelia/configuration.yml:/config/configuration.yml:ro
      - /srv/docker/stack-infra/authelia/users_database.yml:/config/users_database.yml:ro
      - /srv/docker/stack-infra/authelia/secrets:/secrets:ro
      - /srv/docker/stack-infra/data/authelia:/data
    depends_on:
      - traefik

  # Docker management
  dockerproxy:
    <<: *common
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1
      - SERVICES=1
      - TASKS=1
      - NETWORKS=1
      - INFO=1
      - POST=0
    ports:
      - 127.0.0.1:2375:2375
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  portainer:
    <<: *common
    container_name: portainer
    image: portainer/portainer-ce:latest
    ports:
      - '8000:8000' # Edge agent tunnel
    labels:
      - 'traefik.http.routers.portainer.rule=Host(`containers.lundmark.tech`)'
      - 'traefik.http.services.portainer.loadbalancer.server.port=9000'
    volumes:
      - /srv/docker/stack-infra/data/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - traefik

  dockge:
    <<: *common
    container_name: dockge
    image: louislam/dockge:latest
    labels:
      - 'traefik.http.routers.dockge.rule=Host(`stacks.lundmark.tech`)'
      - 'traefik.http.routers.dockge.middlewares=authelia@file'
      - 'traefik.http.services.dockge.loadbalancer.server.port=5001'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/docker/stack-infra/data/dockge:/app/data
      - /srv/docker:/opt/stacks
    environment:
      DOCKGE_STACKS_DIR: /opt/stacks
    depends_on:
      - traefik

  watchtower:
    <<: *common
    container_name: watchtower
    image: containrrr/watchtower:latest
    environment:
      - WATCHTOWER_CLEANUP=true
    labels:
      - 'traefik.enable=false'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # Monitoring & dashboard
  uptime-kuma:
    <<: *common
    container_name: uptime-kuma
    image: louislam/uptime-kuma:latest
    labels:
      - 'traefik.http.routers.uptime-kuma.rule=Host(`status.lundmark.tech`)'
      - 'traefik.http.routers.uptime-kuma.middlewares=authelia@file'
      - 'traefik.http.services.uptime-kuma.loadbalancer.server.port=3001'
    volumes:
      - /srv/docker/stack-infra/data/uptime-kuma:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - traefik

  homepage:
    <<: *common
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      PGID: 1000
      PUID: 1000
      HOMEPAGE_ALLOWED_HOSTS: 'lundmark.tech'
      HOMEPAGE_VAR_UNIFI_PASSWORD: ${HOMEPAGE_UNIFI_PASSWORD}
    labels:
      - 'traefik.http.routers.homepage.rule=Host(`lundmark.tech`)'
      - 'traefik.http.routers.homepage.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-infra/data/homepage/config:/app/config
      - /srv/docker/stack-infra/homepage/docker.yaml:/app/config/docker.yaml:ro
      - /srv/docker/stack-infra/homepage/services.yaml:/app/config/services.yaml:ro
      - /srv/docker/stack-infra/homepage/settings.yaml:/app/config/settings.yaml:ro
      - /srv/docker/stack-infra/homepage/widgets.yaml:/app/config/widgets.yaml:ro
      - /srv/docker/stack-infra/homepage/bookmarks.yaml:/app/config/bookmarks.yaml:ro
      - /srv/docker/stack-infra/data/homepage/images:/app/public/images
      - /srv/docker/stack-infra/data/homepage/icons:/app/public/icons
    depends_on:
      - traefik
      - dockerproxy

networks:
  traefik-proxy:
    external: true
