x-common: &common
  restart: unless-stopped

services:
  backup:
    <<: *common
    container_name: backup
    image: alpine:latest
    networks:
      - default
      - traefik-proxy
    entrypoint: /bin/sh
    command:
      - -c
      - |
        apk add --no-cache rsync py3-pip docker-cli docker-cli-compose curl > /dev/null
        pip install --break-system-packages flask > /dev/null
        echo '0 * * * * curl -sX POST http://localhost:8000/run' | crontab -
        crond -l 2
        python3 /app/web.py
    volumes:
      - /srv/docker:/source
      - /mnt/nas/backup-homeserver/docker:/destination
      - /srv/docker/stack-ops/web.py:/app/web.py:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/fstab:/host/fstab
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.backup.rule=Host(`backup-ops.lundmark.tech`)'
      - 'traefik.http.routers.backup.middlewares=authelia@file'
      - 'traefik.http.services.backup.loadbalancer.server.port=8000'

  watchtower:
    <<: *common
    container_name: watchtower
    image: containrrr/watchtower:latest
    environment:
      - WATCHTOWER_CLEANUP=true
    labels:
      - 'traefik.enable=false'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  traefik-proxy:
    external: true
