# NAS shares
10.0.1.2:/volume1/backup-homeserver  /mnt/nas/backup-homeserver  nfs defaults,vers=4.1,soft,timeo=10,retrans=2,_netdev,bg,noatime 0 0
10.0.1.2:/volume1/media  /mnt/nas/media  nfs defaults,vers=4.1,soft,timeo=10,retrans=2,_netdev,bg,noatime 0 0
10.0.1.2:/volume1/music  /mnt/nas/music  nfs defaults,vers=4.1,soft,timeo=10,retrans=2,_netdev,bg,noatime 0 0
10.0.1.2:/volume1/photos  /mnt/nas/photos  nfs defaults,vers=4.1,soft,timeo=10,retrans=2,_netdev,bg,noatime 0 0
10.0.1.2:/volume1/video  /mnt/nas/video  nfs defaults,vers=4.1,soft,timeo=10,retrans=2,_netdev,bg,noatime 0 0
10.0.1.2:/volume1/downloads  /mnt/nas/downloads  nfs defaults,vers=4.1,soft,timeo=10,retrans=2,_netdev,bg,noatime 0 0
10.0.1.2:/volume1/home_video  /mnt/nas/home_video  nfs defaults,vers=4.1,soft,timeo=10,retrans=2,_netdev,bg,noatime 0 0




