name: photobackup

services:
  # iCloud Photo Downloader - Personal Library
  icloudpd:
    image: icloudpd/icloudpd:latest
    container_name: icloudpd
    ports:
      - 8080:8080
    environment:
      - UID=${UID}
      - GID=${GID}
      - TZ=${TZ}
    volumes:
      - ${PROJECT_PATH}/data/icloudpd:/config
      - ${PHOTOS_PATH}/icloud/gabriel:/data
    restart: 'unless-stopped'
    command:
      - icloudpd
      - --directory
      - /data
      - --cookie-directory
      - /config
      - --username
      - ${APPLE_ID}
      - --password-provider
      - webui
      - --mfa-provider
      - webui
      - --watch-with-interval
      - '3600'
      - --auto-delete

  # iCloud Photo Downloader - Shared Library
  icloudpd-shared:
    image: icloudpd/icloudpd:latest
    container_name: icloudpd-shared
    ports:
      - 8081:8080
    environment:
      - UID=${UID}
      - GID=${GID}
      - TZ=${TZ}
    volumes:
      - ${PROJECT_PATH}/data/icloudpd-shared:/config
      - ${PHOTOS_PATH}/icloud/shared:/data
    restart: 'unless-stopped'
    command:
      - icloudpd
      - --directory
      - /data
      - --cookie-directory
      - /config
      - --username
      - ${APPLE_ID}
      - --password-provider
      - webui
      - --mfa-provider
      - webui
      - --watch-with-interval
      - '3600'
      - --auto-delete
      - --library
      - ${ICLOUD_SHARED_LIBRARY}
