name: photos

services:
  # Immich photo management
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}
    volumes:
      - ${PHOTOS_PATH}/immich:/data
      - /etc/localtime:/etc/localtime:ro
      - ${PHOTOS_PATH}/icloud:/libraries/icloud:ro
    env_file:
      - .env
    environment:
      # Point to ML service on homeserver
      IMMICH_MACHINE_LEARNING_URL: http://10.0.1.4:3003
    ports:
      - '2283:2283'
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'
      DB_STORAGE_TYPE: 'HDD' # Synology uses HDDs in RAID
    volumes:
      - ${PROJECT_PATH}/data/immich/postgres:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always

  # iCloud Photo Downloader - Personal Library
  icloudpd:
    image: icloudpd/icloudpd:latest
    container_name: icloudpd
    ports:
      - 8080:8080
    environment:
      - UID=${UID}
      - GID=${GID}
      - TZ=${TZ}
    volumes:
      - ${PROJECT_PATH}/data/icloudpd:/config
      - ${PHOTOS_PATH}/icloud/gabriel:/data
    restart: 'unless-stopped'
    command:
      - icloudpd
      - --directory
      - /data
      - --cookie-directory
      - /config
      - --username
      - ${APPLE_ID}
      - --password-provider
      - webui
      - --mfa-provider
      - webui
      - --watch-with-interval
      - '3600'
      - --auto-delete

  # iCloud Photo Downloader - Shared Library
  icloudpd-shared:
    image: icloudpd/icloudpd:latest
    container_name: icloudpd-shared
    ports:
      - 8081:8080
    environment:
      - UID=${UID}
      - GID=${GID}
      - TZ=${TZ}
    volumes:
      - ${PROJECT_PATH}/data/icloudpd-shared:/config
      - ${PHOTOS_PATH}/icloud/shared:/data
    restart: 'unless-stopped'
    command:
      - icloudpd
      - --directory
      - /data
      - --cookie-directory
      - /config
      - --username
      - ${APPLE_ID}
      - --password-provider
      - webui
      - --mfa-provider
      - webui
      - --watch-with-interval
      - '3600'
      - --auto-delete
      - --library
      - ${ICLOUD_SHARED_LIBRARY}
