name: 'dns-services'

services:
  adguardhome:
    container_name: adguardhome
    image: adguard/adguardhome
    networks:
      - default
      - traefik-proxy
    ports:
      - 53:53/tcp
      - 53:53/udp
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.adguardhome.rule=Host(`dns1.lundmark.tech`)'
      - 'traefik.http.services.adguardhome.loadbalancer.server.port=3000'
    volumes:
      - ${PROJECT_PATH}/data/adguardhome/work:/opt/adguardhome/work
      - ${PROJECT_PATH}/data/adguardhome/config:/opt/adguardhome/conf
    restart: always

  adguardhome-sync:
    image: lscr.io/linuxserver/adguardhome-sync:latest
    container_name: adguardhome-sync
    environment:
      - TZ=${TZ}
      - PUID=${UID}
      - PGID=${GID}
      - CONFIGFILE=/config/adguardhome-sync.yaml
    networks:
      - default
      - traefik-proxy
    volumes:
      - ${PROJECT_PATH}/data/adguardhome-sync/config:/config
    ports:
      - 8082:8080
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.adguardhome-sync.rule=Host(`dns-sync.lundmark.tech`)'
    depends_on:
      - adguardhome

networks:
  traefik-proxy:
    external: true
