x-synology-service: &synology-service
  loadBalancer:
    servers:
      - url: 'https://10.0.1.2:5001'
    passHostHeader: true

http:
  middlewares:
    # auth:
    #   basicauth:
    #     users:
    #       - '{{env "BASIC_AUTH_USERNAME"}}:{{env "BASIC_AUTH_PASSWORD_HASH"}}'

    add-drive-prefix:
      addPrefix:
        prefix: '/drive'

    add-backup-prefix:
      addPrefix:
        prefix: '/backup'

    add-photos-prefix:
      addPrefix:
        prefix: '/photos'

    add-downloads-prefix:
      addPrefix:
        prefix: '/downloads'

    add-files-prefix:
      addPrefix:
        prefix: '/files'

    add-vm-prefix:
      addPrefix:
        prefix: '/vm'

    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000

    default-whitelist:
      ipWhiteList:
        sourceRange:
          - '10.0.0.0/24'
          - '192.168.0.0/16'
          - '172.0.0.0/8'

  routers:
    global-headers:
      rule: 'HostRegexp(`{any:.+}`)'
      entryPoints:
        - websecure
      middlewares:
        - default-headers
        - default-whitelist
      service: noop@internal

    # Synology apps
    dsm:
      rule: 'Host(`dsm.app.gabriellundmark.com`)'
      service: synology-dsm

    drive:
      rule: 'Host(`drive.app.gabriellundmark.com`)'
      middlewares:
        - add-drive-prefix
      service: synology-drive

    active-backup:
      rule: 'Host(`abb.app.gabriellundmark.com`)'
      middlewares:
        - add-backup-prefix
      service: synology-active-backup

    download-station:
      rule: 'Host(`downloads.app.gabriellundmark.com`)'
      middlewares:
        - add-downloads-prefix
      service: synology-download-station

    synology-photos:
      rule: 'Host(`photos.app.gabriellundmark.com`)'
      middlewares:
        - add-photos-prefix
      service: synology-photos

    file-station:
      rule: 'Host(`files.app.gabriellundmark.com`)'
      middlewares:
        - add-files-prefix
      service: synology-file-station

    vm-manager:
      rule: 'Host(`vm.app.gabriellundmark.com`)'
      middlewares:
        - add-vm-prefix
      service: synology-vm

    # Synology containers
    icloudpd:
      rule: 'Host(`icloudpd.app.gabriellundmark.com`)'
      service: icloudpd

    icloudpd-shared:
      rule: 'Host(`icloudpd-shared.app.gabriellundmark.com`)'
      service: icloudpd

    portainer:
      rule: 'Host(`portainer-homecloud.app.gabriellundmark.com`)'
      service: portainer

    # UniFi Controller
    unifi:
      rule: 'Host(`unifi.app.gabriellundmark.com`)'
      service: unifi

  services:
    synology-dsm: *synology-service
    synology-drive: *synology-service
    synology-active-backup: *synology-service
    synology-download-station: *synology-service
    synology-photos: *synology-service
    synology-file-station: *synology-service
    synology-vm: *synology-service

    icloudpd:
      loadBalancer:
        servers:
          - url: 'http://10.0.1.2:8080'
        passHostHeader: true

    icloudpd-shared:
      loadBalancer:
        servers:
          - url: 'http://10.0.1.2:8081'
        passHostHeader: true

    portainer:
      loadBalancer:
        servers:
          - url: 'http://10.0.1.2:9000'
        passHostHeader: true

    unifi:
      loadBalancer:
        servers:
          - url: 'https://10.0.1.1'
        passHostHeader: true
