name: 'home-services'

services:
  homeassistant:
    container_name: homeassistant
    image: linuxserver/homeassistant:latest
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - PUID=${UID}
      - PGID=${GID}
    labels:
      - 'traefik.http.routers.homeassistant.rule=Host(`home.lundmark.tech`)'
      - 'traefik.http.services.homeassistant.loadbalancer.server.port=8123'
      - 'com.centurylinklabs.watchtower.enable=false'
    volumes:
      - ${PROJECT_PATH}/data/homeassistant:/config
      - ${MOUNTS_PATH}/music:/music
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0

  homebridge:
    container_name: homebridge
    hostname: homebridge
    image: homebridge/homebridge:latest
    environment:
      - TZ=${TZ}
    network_mode: host
    restart: unless-stopped
    labels:
      - 'traefik.http.services.homebridge.loadbalancer.server.port=8581'
    volumes:
      - ${PROJECT_PATH}/data/homebridge:/homebridge

  scrypted:
    container_name: scrypted
    image: koush/scrypted:latest
    network_mode: host
    restart: unless-stopped
    labels:
      - 'traefik.http.routers.scrypted.rule=Host(`cameras.lundmark.tech`)'
      - 'traefik.http.services.scrypted.loadbalancer.server.port=11080' # Use insecure port; Traefik handles SSL
    volumes:
      - ${PROJECT_PATH}/data/scrypted:/server/volume
