name: 'media-services'

# Bypass Adguard Home for services that need external DNS
x-dns: &default-dns
  - 1.1.1.1 # Cloudflare DNS
  - 8.8.8.8 # Google DNS

# Common config for *arr and linuxserver services
x-arr: &arr
  restart: unless-stopped
  networks:
    - default
    - traefik-proxy
  environment:
    PUID: 1000
    PGID: 1000
    TZ: Europe/Stockholm

services:
  plex:
    container_name: plex
    image: linuxserver/plex
    hostname: plex
    network_mode: host
    dns: *default-dns
    environment:
      PGID: 1000
      PUID: 1000
      TZ: Europe/Stockholm
      # To reclaim, visit https://www.plex.tv/claim/ to get a new token
      # then set it in your .env file and restart the container within 4 minutes.
      PLEX_CLAIM: "${PLEX_CLAIM}"
    devices:
      - /dev/dri:/dev/dri # Intel Quick Sync
    labels:
      - 'traefik.http.routers.plex.rule=Host(`watch.lundmark.tech`)'
      - 'traefik.http.services.plex.loadbalancer.server.port=32400'
    restart: unless-stopped
    volumes:
      - /srv/docker/stack-media/data/plex:/config
      - /srv/docker/temp/plex:/transcode
      - /mnt/nas/media:/media
      - /mnt/nas/home_video:/home_video
      - /mnt/nas/music:/music
      - /mnt/nas/video:/video

  tautulli:
    <<: *arr
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    volumes:
      - /srv/docker/stack-media/data/tautulli:/config
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.tautulli.rule=Host(`stats.lundmark.tech`)'
    depends_on:
      - plex

  seerr:
    <<: *arr
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    environment:
      LOG_LEVEL: debug
      TZ: Europe/Stockholm
    dns: *default-dns
    volumes:
      - /srv/docker/stack-media/data/seerr/config:/app/config
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.seerr.rule=Host(`requests.lundmark.tech`)'
    depends_on:
      - sonarr
      - radarr
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3

  sabnzbd:
    container_name: sabnzbd
    image: linuxserver/sabnzbd:latest
    hostname: sabnzbd
    environment:
      TZ: Europe/Stockholm
      PGID: 1000
      PUID: 1000
    networks:
      - default
      - traefik-proxy
    restart: always
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.sabnzbd.rule=Host(`usenet.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-media/data/sabnzbd:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/downloads:/downloads-nas
      - /mnt/nas/media:/media

  transmission:
    <<: *arr
    container_name: transmission
    image: linuxserver/transmission:latest
    hostname: transmission
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.transmission.rule=Host(`torrents.lundmark.tech`)'
      - 'traefik.http.services.transmission.loadbalancer.server.port=9091'
    ports:
      - '51413:51413'
      - '51413:51413/udp'
    volumes:
      - /srv/docker/stack-media/data/transmission:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/downloads:/downloads-nas
      - /mnt/nas/downloads/seeding:/seeding
      - /mnt/nas/downloads/watch:/watch

  handbrake:
    container_name: handbrake
    image: jlesage/handbrake
    restart: unless-stopped
    environment:
      GROUP_ID: 1000
      USER_ID: 1000
      TZ: Europe/Stockholm
      AUTOMATED_CONVERSION_KEEP_SOURCE: 0
    networks:
      - default
      - traefik-proxy
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.handbrake.rule=Host(`encoder.lundmark.tech`)'
    volumes:
      - '/srv/docker/stack-media/data/handbrake:/config:rw'
      - '/srv/docker/temp/handbrake/watch:/watch:rw'
      - '/srv/docker/temp/handbrake/output:/output:rw'
      - '/mnt/nas/media:/storage:ro'

  sonarr:
    <<: *arr
    container_name: sonarr
    image: linuxserver/sonarr:latest
    hostname: sonarr
    dns: *default-dns
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.sonarr.rule=Host(`tv.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-media/data/sonarr:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/media:/media
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  radarr:
    <<: *arr
    container_name: radarr
    image: linuxserver/radarr:latest
    hostname: radarr
    dns: *default-dns
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.radarr.rule=Host(`movies.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-media/data/radarr:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/media:/media
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  bazarr:
    <<: *arr
    container_name: bazarr
    image: linuxserver/bazarr:latest
    hostname: bazarr
    dns: *default-dns
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.bazarr.rule=Host(`subtitles.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-media/data/bazarr:/config
      - /mnt/nas/media:/media

  lidarr:
    <<: *arr
    container_name: lidarr
    image: linuxserver/lidarr:latest
    hostname: lidarr
    dns: *default-dns
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.lidarr.rule=Host(`music.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-media/data/lidarr:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/music:/music
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  # Indexers
  nzbhydra:
    <<: *arr
    container_name: nzbhydra
    image: linuxserver/nzbhydra2:latest
    hostname: nzbhydra
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.nzbhydra.rule=Host(`search.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-media/data/nzbhydra:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/downloads:/downloads-nas
      - /mnt/nas/media:/media

  prowlarr:
    <<: *arr
    container_name: prowlarr
    image: linuxserver/prowlarr:develop
    hostname: prowlarr
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.prowlarr.rule=Host(`indexers.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-media/data/prowlarr:/config

networks:
  traefik-proxy:
    external: true
