name: 'media-services'

# Bypass Adguard Home for services that need external DNS
x-dns: &default-dns
  - 1.1.1.1 # Cloudflare DNS
  - 8.8.8.8 # Google DNS

services:
  # Media servers
  plex:
    container_name: plex
    image: linuxserver/plex
    hostname: plex
    network_mode: host
    dns: *default-dns
    environment:
      - PGID=${GID}
      - PUID=${UID}
      - TZ=${TZ}
      # To reclaim, visit https://www.plex.tv/claim/ to get a new token
      # then set it in your .env file and restart the container within 4 minutes.
      - PLEX_CLAIM="${PLEX_CLAIM}"
    devices:
      - /dev/dri:/dev/dri # Intel Quick Sync
    labels:
      - 'traefik.http.routers.plex.rule=Host(`watch.lundmark.tech`)'
      - 'traefik.http.services.plex.loadbalancer.server.port=32400'
    restart: unless-stopped
    volumes:
      - ${PROJECT_PATH}/data/plex:/config
      - ${ROOT_PATH}/temp/plex:/transcode
      - ${MOUNTS_PATH}/media:/media
      - ${MOUNTS_PATH}/home_video:/home_video
      - ${MOUNTS_PATH}/music:/music
      - ${MOUNTS_PATH}/video:/video

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
    networks:
      - default
      - traefik-proxy
    volumes:
      - ${PROJECT_PATH}/data/tautulli:/config
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.tautulli.rule=Host(`stats.lundmark.tech`)'
    depends_on:
      - plex

  seerr:
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
    dns: *default-dns
    networks:
      - default
      - traefik-proxy
    volumes:
      - ${PROJECT_PATH}/data/seerr/config:/app/config
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.seerr.rule=Host(`requests.lundmark.tech`)'
    depends_on:
      - sonarr
      - radarr
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3

  # Download clients
  sabnzbd:
    container_name: sabnzbd
    image: linuxserver/sabnzbd:latest
    hostname: sabnzbd
    environment:
      - TZ=${TZ}
      - PGID=${GID}
      - PUID=${UID}
    networks:
      - default
      - traefik-proxy
    restart: always
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.sabnzbd.rule=Host(`usenet.lundmark.tech`)'
    volumes:
      - ${PROJECT_PATH}/data/sabnzbd:/config
      - ${ROOT_PATH}/downloads:/downloads
      - ${MOUNTS_PATH}/downloads:/downloads-nas
      - ${MOUNTS_PATH}/media:/media

  transmission:
    container_name: transmission
    image: linuxserver/transmission:latest
    hostname: transmission
    environment:
      - PGID=${GID}
      - PUID=${UID}
      - TZ=${TZ}
    networks:
      - default
      - traefik-proxy
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.transmission.rule=Host(`torrents.lundmark.tech`)'
      - 'traefik.http.services.transmission.loadbalancer.server.port=9091'
    ports:
      - '51413:51413'
      - '51413:51413/udp'
    restart: unless-stopped
    volumes:
      - ${PROJECT_PATH}/data/transmission:/config
      - ${ROOT_PATH}/downloads:/downloads
      - ${MOUNTS_PATH}/downloads:/downloads-nas
      - ${MOUNTS_PATH}/downloads/seeding:/seeding
      - ${MOUNTS_PATH}/downloads/watch:/watch

  handbrake:
    container_name: handbrake
    image: jlesage/handbrake
    restart: unless-stopped
    environment:
      - GROUP_ID=${GID}
      - USER_ID=${UID}
      - TZ=${TZ}
      - AUTOMATED_CONVERSION_KEEP_SOURCE=0
    networks:
      - default
      - traefik-proxy
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.handbrake.rule=Host(`encoder.lundmark.tech`)'
    volumes:
      - '${PROJECT_PATH}/data/handbrake:/config:rw'
      - '${ROOT_PATH}/temp/handbrake/watch:/watch:rw'
      - '${ROOT_PATH}/temp/handbrake/output:/output:rw'
      - '${MOUNTS_PATH}/media:/storage:ro'

  # Media management
  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:latest
    hostname: sonarr
    dns: *default-dns
    environment:
      - TZ=${TZ}
      - PGID=${GID}
      - PUID=${UID}
    networks:
      - default
      - traefik-proxy
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.sonarr.rule=Host(`tv.lundmark.tech`)'
    volumes:
      - ${PROJECT_PATH}/data/sonarr:/config
      - ${ROOT_PATH}/downloads:/downloads
      - ${MOUNTS_PATH}/media:/media
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  radarr:
    container_name: radarr
    image: linuxserver/radarr:latest
    hostname: radarr
    dns: *default-dns
    environment:
      - PGID=${GID}
      - PUID=${UID}
      - TZ=${TZ}
    networks:
      - default
      - traefik-proxy
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.radarr.rule=Host(`movies.lundmark.tech`)'
    volumes:
      - ${PROJECT_PATH}/data/radarr:/config
      - ${ROOT_PATH}/downloads:/downloads
      - ${MOUNTS_PATH}/media:/media
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  bazarr:
    container_name: bazarr
    image: linuxserver/bazarr:latest
    hostname: bazarr
    dns: *default-dns
    environment:
      - TZ=${TZ}
      - PGID=${GID}
      - PUID=${UID}
    networks:
      - default
      - traefik-proxy
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.bazarr.rule=Host(`subtitles.lundmark.tech`)'
    volumes:
      - ${PROJECT_PATH}/data/bazarr:/config
      - ${MOUNTS_PATH}/media:/media

  lidarr:
    container_name: lidarr
    image: linuxserver/lidarr:latest
    hostname: lidarr
    dns: *default-dns
    environment:
      - TZ=${TZ}
      - PGID=${GID}
      - PUID=${UID}
    networks:
      - default
      - traefik-proxy
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.lidarr.rule=Host(`music.lundmark.tech`)'
    volumes:
      - ${PROJECT_PATH}/data/lidarr:/config
      - ${ROOT_PATH}/downloads:/downloads
      - ${MOUNTS_PATH}/music:/music
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  # Indexers
  nzbhydra:
    container_name: nzbhydra
    image: linuxserver/nzbhydra2:latest
    hostname: nzbhydra
    environment:
      - PGID=${GID}
      - PUID=${UID}
      - TZ=${TZ}
    networks:
      - default
      - traefik-proxy
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.nzbhydra.rule=Host(`search.lundmark.tech`)'
    volumes:
      - ${PROJECT_PATH}/data/nzbhydra:/config
      - ${ROOT_PATH}/downloads:/downloads
      - ${MOUNTS_PATH}/downloads:/downloads-nas
      - ${MOUNTS_PATH}/media:/media

  prowlarr:
    container_name: prowlarr
    image: linuxserver/prowlarr:develop
    hostname: prowlarr
    environment:
      - PGID=${GID}
      - PUID=${UID}
      - TZ=${TZ}
    networks:
      - default
      - traefik-proxy
    restart: unless-stopped
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.prowlarr.rule=Host(`indexers.lundmark.tech`)'
    volumes:
      - ${PROJECT_PATH}/data/prowlarr:/config

networks:
  traefik-proxy:
    external: true
