# Common config for *arr and linuxserver services
x-common: &common
  restart: unless-stopped
  # Bypass Adguard Home
  dns:
    - 1.1.1.1 # Cloudflare DNS
    - 8.8.8.8 # Google DNS
  networks:
    - default
    - traefik-proxy
  environment:
    PUID: 1000
    PGID: 1000
    TZ: Europe/Stockholm

services:
  seerr:
    <<: *common
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    environment:
      LOG_LEVEL: debug
      TZ: Europe/Stockholm
    volumes:
      - /srv/docker/stack-arr/data/seerr/config:/app/config
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.seerr.rule=Host(`requests.lundmark.tech`)'
      - 'traefik.http.routers.seerr.middlewares=authelia@file'
    depends_on:
      - sonarr
      - radarr

  aurral:
    <<: *common
    container_name: aurral
    image: ghcr.io/lklynet/aurral:latest
    environment:
      - DOWNLOAD_FOLDER=/srv/docker/downloads
    volumes:
      - /srv/docker/downloads:/app/downloads
      - /srv/docker/stack-arr/data/aurral:/app/backend/data
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.aurral.rule=Host(`request-music.lundmark.tech`)'
      # - 'traefik.http.routers.aurral.middlewares=authelia@file'
      - 'traefik.http.services.aurral.loadbalancer.server.port=3001'
    depends_on:
      - lidarr

  sabnzbd:
    <<: *common
    container_name: sabnzbd
    image: linuxserver/sabnzbd:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.sabnzbd.rule=Host(`usenet.lundmark.tech`)'
      - 'traefik.http.routers.sabnzbd.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-arr/data/sabnzbd:/config
      - /srv/docker/downloads:/downloads
      - nfs-downloads:/downloads-nas
      - nfs-media:/media

  transmission:
    <<: *common
    container_name: transmission
    image: linuxserver/transmission:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.transmission.rule=Host(`torrents.lundmark.tech`)'
      - 'traefik.http.routers.transmission.middlewares=authelia@file'
      - 'traefik.http.services.transmission.loadbalancer.server.port=9091'
    ports:
      - '51413:51413'
      - '51413:51413/udp'
    volumes:
      - /srv/docker/stack-arr/data/transmission:/config
      - /srv/docker/downloads:/downloads
      - nfs-downloads:/downloads-nas
      - nfs-downloads-seeding:/seeding
      - nfs-downloads-watch:/watch

  handbrake:
    <<: *common
    container_name: handbrake
    image: jlesage/handbrake
    environment:
      GROUP_ID: 1000
      USER_ID: 1000
      TZ: Europe/Stockholm
      AUTOMATED_CONVERSION_KEEP_SOURCE: 0
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.handbrake.rule=Host(`encoder.lundmark.tech`)'
      - 'traefik.http.routers.handbrake.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-arr/data/handbrake:/config
      - /srv/docker/temp/handbrake/watch:/watch
      - /srv/docker/temp/handbrake/output:/output
      - nfs-media:/storage:ro

  sonarr:
    <<: *common
    container_name: sonarr
    image: linuxserver/sonarr:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.sonarr.rule=Host(`tv.lundmark.tech`)'
      - 'traefik.http.routers.sonarr.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-arr/data/sonarr:/config
      - /srv/docker/downloads:/downloads
      - nfs-media:/media
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  radarr:
    <<: *common
    container_name: radarr
    image: linuxserver/radarr:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.radarr.rule=Host(`movies.lundmark.tech`)'
      - 'traefik.http.routers.radarr.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-arr/data/radarr:/config
      - /srv/docker/downloads:/downloads
      - nfs-media:/media
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  bazarr:
    <<: *common
    container_name: bazarr
    image: linuxserver/bazarr:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.bazarr.rule=Host(`subtitles.lundmark.tech`)'
      - 'traefik.http.routers.bazarr.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-arr/data/bazarr:/config
      - nfs-media:/media

  lidarr:
    <<: *common
    container_name: lidarr
    image: linuxserver/lidarr:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.lidarr.rule=Host(`music.lundmark.tech`)'
      - 'traefik.http.routers.lidarr.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-arr/data/lidarr:/config
      - /srv/docker/downloads:/downloads
      - nfs-music:/music
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  # Indexers
  nzbhydra:
    <<: *common
    container_name: nzbhydra
    image: linuxserver/nzbhydra2:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.nzbhydra.rule=Host(`search.lundmark.tech`)'
      - 'traefik.http.routers.nzbhydra.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-arr/data/nzbhydra:/config
      - /srv/docker/downloads:/downloads
      - nfs-downloads:/downloads-nas
      - nfs-media:/media

  prowlarr:
    <<: *common
    container_name: prowlarr
    image: linuxserver/prowlarr:develop
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.prowlarr.rule=Host(`indexers.lundmark.tech`)'
      - 'traefik.http.routers.prowlarr.middlewares=authelia@file'
    volumes:
      - /srv/docker/stack-arr/data/prowlarr:/config

volumes:
  nfs-media:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/media"
  nfs-downloads:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/downloads"
  nfs-downloads-seeding:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/downloads/seeding"
  nfs-downloads-watch:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/downloads/watch"
  nfs-music:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/music"

networks:
  traefik-proxy:
    external: true
