name: 'arr-services'

# Bypass Adguard Home for services that need external DNS
x-dns: &default-dns
  - 1.1.1.1 # Cloudflare DNS
  - 8.8.8.8 # Google DNS

# Common config for *arr and linuxserver services
x-arr: &arr
  restart: unless-stopped
  networks:
    - default
    - traefik-proxy
  environment:
    PUID: 1000
    PGID: 1000
    TZ: Europe/Stockholm

services:
  seerr:
    <<: *arr
    image: ghcr.io/seerr-team/seerr:latest
    init: true
    container_name: seerr
    environment:
      LOG_LEVEL: debug
      TZ: Europe/Stockholm
    dns: *default-dns
    volumes:
      - /srv/docker/stack-arr/data/seerr/config:/app/config
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.seerr.rule=Host(`requests.lundmark.tech`)'
    depends_on:
      - sonarr
      - radarr
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3

  sabnzbd:
    <<: *arr
    container_name: sabnzbd
    image: linuxserver/sabnzbd:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.sabnzbd.rule=Host(`usenet.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-arr/data/sabnzbd:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/downloads:/downloads-nas
      - /mnt/nas/media:/media

  transmission:
    <<: *arr
    container_name: transmission
    image: linuxserver/transmission:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.transmission.rule=Host(`torrents.lundmark.tech`)'
      - 'traefik.http.services.transmission.loadbalancer.server.port=9091'
    ports:
      - '51413:51413'
      - '51413:51413/udp'
    volumes:
      - /srv/docker/stack-arr/data/transmission:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/downloads:/downloads-nas
      - /mnt/nas/downloads/seeding:/seeding
      - /mnt/nas/downloads/watch:/watch

  handbrake:
    <<: *arr
    container_name: handbrake
    image: jlesage/handbrake
    environment:
      GROUP_ID: 1000
      USER_ID: 1000
      TZ: Europe/Stockholm
      AUTOMATED_CONVERSION_KEEP_SOURCE: 0
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.handbrake.rule=Host(`encoder.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-arr/data/handbrake:/config
      - /srv/docker/temp/handbrake/watch:/watch
      - /srv/docker/temp/handbrake/output:/output
      - /mnt/nas/media:/storage:ro

  sonarr:
    <<: *arr
    container_name: sonarr
    image: linuxserver/sonarr:latest
    dns: *default-dns
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.sonarr.rule=Host(`tv.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-arr/data/sonarr:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/media:/media
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  radarr:
    <<: *arr
    container_name: radarr
    image: linuxserver/radarr:latest
    dns: *default-dns
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.radarr.rule=Host(`movies.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-arr/data/radarr:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/media:/media
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  bazarr:
    <<: *arr
    container_name: bazarr
    image: linuxserver/bazarr:latest
    dns: *default-dns
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.bazarr.rule=Host(`subtitles.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-arr/data/bazarr:/config
      - /mnt/nas/media:/media

  lidarr:
    <<: *arr
    container_name: lidarr
    image: linuxserver/lidarr:latest
    dns: *default-dns
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.lidarr.rule=Host(`music.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-arr/data/lidarr:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/music:/music
    depends_on:
      - prowlarr
      - nzbhydra
      - sabnzbd
      - transmission

  # Indexers
  nzbhydra:
    <<: *arr
    container_name: nzbhydra
    image: linuxserver/nzbhydra2:latest
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.nzbhydra.rule=Host(`search.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-arr/data/nzbhydra:/config
      - /srv/docker/downloads:/downloads
      - /mnt/nas/downloads:/downloads-nas
      - /mnt/nas/media:/media

  prowlarr:
    <<: *arr
    container_name: prowlarr
    image: linuxserver/prowlarr:develop
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.prowlarr.rule=Host(`indexers.lundmark.tech`)'
    volumes:
      - /srv/docker/stack-arr/data/prowlarr:/config

networks:
  traefik-proxy:
    external: true
