x-common: &common
  restart: unless-stopped

# Bypass Adguard Home for services that need external DNS
x-dns: &default-dns
  - 1.1.1.1 # Cloudflare DNS
  - 8.8.8.8 # Google DNS

services:
  plex:
    <<: *common
    container_name: plex
    image: linuxserver/plex
    hostname: plex
    network_mode: host
    dns: *default-dns
    environment:
      PGID: 1000
      PUID: 1000
      TZ: Europe/Stockholm
      # To reclaim, visit https://www.plex.tv/claim/ to get a new token
      # then set it in your .env file and restart the container within 4 minutes.
      PLEX_CLAIM: '${PLEX_CLAIM}'
    devices:
      - /dev/dri:/dev/dri # Intel Quick Sync
    labels:
      - 'traefik.http.routers.plex.rule=Host(`watch.lundmark.tech`)'
      - 'traefik.http.services.plex.loadbalancer.server.port=32400'
    volumes:
      - /srv/docker/stack-plex/data/plex:/config
      - /srv/docker/temp/plex:/transcode
      - nfs-home-video:/home_video:ro
      - nfs-media:/media:ro
      - nfs-music:/music:ro
      - nfs-video:/video:ro

  tautulli:
    <<: *common
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Stockholm
    networks:
      - default
      - traefik-proxy
    volumes:
      - /srv/docker/stack-plex/data/tautulli:/config
    labels:
      - 'traefik.docker.network=traefik-proxy'
      - 'traefik.http.routers.tautulli.rule=Host(`stats.lundmark.tech`)'
      - 'traefik.http.routers.tautulli.middlewares=authelia@file'
    depends_on:
      - plex

volumes:
  nfs-home-video:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/home_video"
  nfs-media:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/media"
  nfs-music:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/music"
  nfs-video:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.0.1.2,soft,timeo=50,vers=4.1,noatime"
      device: ":/volume1/video"

networks:
  traefik-proxy:
    external: true
