x-common: &common
  image: icloudpd/icloudpd:latest
  restart: 'unless-stopped'
  environment:
    - UID=1047
    - GID=100
    - TZ=Europe/Stockholm
  command:
    - icloudpd
    - --directory
    - /data
    - --cookie-directory
    - /config
    - --username
    - ${APPLE_ID}
    - --password-provider
    - webui
    - --mfa-provider
    - webui
    - --watch-with-interval
    - '3600'
    - --auto-delete

services:
  # iCloud Photo Downloader - Personal Library
  icloudpd:
    <<: *common
    container_name: icloudpd
    ports:
      - 8080:8080
    volumes:
      - /volume1/docker/stack-photobackup/data/icloudpd:/config
      - /volume1/photos/icloud/gabriel:/data

  # iCloud Photo Downloader - Shared Library
  icloudpd-shared:
    <<: *common
    container_name: icloudpd-shared
    ports:
      - 8081:8080
    volumes:
      - /volume1/docker/stack-photobackup/data/icloudpd-shared:/config
      - /volume1/photos/icloud/shared:/data
    command:
      - icloudpd
      - --directory
      - /data
      - --cookie-directory
      - /config
      - --username
      - ${APPLE_ID}
      - --password-provider
      - webui
      - --mfa-provider
      - webui
      - --watch-with-interval
      - '3600'
      - --auto-delete
      - --library
      - ${ICLOUD_SHARED_LIBRARY}
